@charset "UTF-8";

#agreeTerms .contents {
	box-sizing: border-box;
}

#agreeTerms .contents {
	max-height: 600px;
	max-width: 700px;
	overflow-y: auto;
	width: 500px;
	height: 900spx;
	border: 1px solid black;
}

body {
	position: absolute;
	height: 100%;
	width: 100%;
}

#agreeTerms {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#agreeTerms .text2 {
	margin-left: 50px;
}

#agreeTerms th{
    padding-bottom: 20px;
}

#agreeTerms .btn_confirm{
	text-align: center;
}
