@charset "UTF-8";
div[class*=modal] {border: none;}

.modal-content {background-color: #00000000;}
.login-title {background-color: #FFFFFF;}
.modal-body {background-color: #FFFFFF;}
.modal-footer {background-color: #FFFFFF;}
#popup-img {position: relative; top: 78px; left: 70px;}

#loginModal {}
