@charset "UTF-8";

.mypage{
	display:flex;
	justify-content:center;
}
.mypage .card{
	min-width:1100px;
}
.mypage *{text-align:center;}
.mypage div{}
.mypage .list-group-item{
	display:flex;
	justify-content:space-between;
	height:50px;
	line-height:50px;
	padding:0px;
}
.mypage .list-group-item .label{
	align-items:stretch;
	width:20%;
}
.mypage .list-group-item .value{
	width:65%;
}
.mypage .list-group-item .control{
	width:15%;
}

#sp_com_input .fa-edit,
#sp_com_input .fa-times,
#sp_com_input .fa-check-circle,
#sp_com_input .fa-exchange-alt{
	cursor:pointer;
	margin-left:3px;
	margin-right:3px;
}
#sp_com_input .fa-times, #sp_com_input .fa-check-circle{
	display:none;
}