@charset "UTF-8";

.mypage{
	display:flex;
	justify-content:center;
}
.mypage .card{
	min-width:500px;
}
.mypage *{text-align:center;}
.mypage .list-group-item{
	display:flex;
	justify-content:space-between;
	height:50px;
	line-height:50px;
	padding:0px;
}
.mypage .list-group-item .label{
	background-color:lightgray;
	align-items:stretch;
	width:20%;
}
.mypage .list-group-item .value{
	width:65%;
}
.mypage .list-group-item .control{
	width:15%;
}

.mypage .fa-edit,
.mypage .fa-times,
.mypage .fa-check-circle{
	cursor:pointer;
	margin-left:3px;
	margin-right:3px;
}
.mypage .fa-times, .mypage .fa-check-circle{
	display:none;
}