@charset "utf-8";

.lostSection div{margin-bottom:25px; margin-top:25px;}
#mainTitle{font-size:40px;color:#254E7C}
.animalInfo{text-align:center;background-color:#B9D7EA;font-weight:600;font-size:35px;border-radius:8px;}
#lostName input{width:400px;}
#lostName span{margin-right:10px;font-size:20px;}
#animalDetail input{width:150px;}
#animalDetail span{margin-right:10px;font-size:20px;margin-left:40px;}
.toMargin{margin-right:80px;}
.inp_slct{ width:100px;}
#lostDate{width:200px}
#lostDates{margin-right:10px;font-size:20px;}
#cate{font-size:20px; }
#content{font-size:20px;}
#contentArea textarea{width:900px;}
.rd_group{display:inline; margin-left:10px;}

/* 카카오 주소 검색 창 */
#resultAdd{position:relative;z-index:0;width:300px;}
#resultAdd:focus{outline:none;}

#searchBtn:hover{cursor:pointer;}

/* kakao map */
.map_wrap {position:relative;width:100%;height:700px;margin:0px;}
    #title {font-weight:bold;display:block;font-size:20px;margin-bottom:10px;}
      .title {font-weight:bold;display:block;}
   .bAddr{padding:5px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
    .hAddr {position:absolute;left:10px;top:10px;border-radius: 2px;background:#fff;z-index:1;padding:0px;margin:0px;}
    #centerAddr {display:block;margin-top:2px;font-weight: normal;margin-left:200px;margin-bottom:10px;}
    .bAddr {padding:10px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;margin:0px;text-align:center;margin-right:35px;margin-bottom:10px;}
   #map{
  
   position:absolute;
  top:20%;
  left:50%;
  transform:translate(-50%);
   }
   
   
   
   .upload-img img{
   width:300px;
   height:300px;
   }