@charset "utf-8";
@keyframes blink-effect{
	50%{
	opacity:0;
	}
} 
section>.title>h2:after{background-color:#769FCD;}
#countTitle{font-size:26px; font-weight:500;padding-bottom:25px;}
#countss{float:right; padding:15px;}

.mari{
	
	background-color:#FFF0F0;
	display: inline-block;width: 60px;height: 60px;border-radius:50%;font-size: 24px;color: #333;line-height: 60px;text-align: center;font-weight: 700;transition:all .3s ease;
	}


.page_nav{text-align:center;margin-top:30px;}
.page_nav a {display: inline-block;width: 30px;height: 30px;border-radius:50%;font-size: 15px;color: #666;line-height: 30px;text-align: center;font-weight: 700;transition:all .3s ease;}
.page_nav a:hover{background-color:#FFF0F0;color:#333;text-decoration:underline;}

#rightMari{float:right;}
.counts{padding:15px;}
#mainTitle{font-size:40px;color:#254E7C}
.animalInfo{text-align:center;background-color:#B9D7EA;font-weight:600;font-size:35px;border-radius:8px;}
#lostName input{width:400px;}
#lostName span{margin-right:10px;font-size:20px;}
#animalDetail input{width:150px;}
#animalDetail span{margin-right:10px;font-size:20px;margin-left:40px;}
.toMargin{margin-right:80px;}
.inp_slct{ width:100px;}
#lostDate{width:200px}
#lostDates{margin-right:10px;font-size:20px;}
#cate{font-size:20px; margin-left:190px;}
#content{font-size:20px;}
#contentArea textarea{width:900px;}
.rd_group{display:inline; margin-left:10px;}
#list{margin-left:300px;}
/* 통계 */
#lost{padding:10px; width:800px;margin:auto;border-radius:5px;}
#lost>div{overflow:hidden;}
#lost>div>div{width:25%;float:left;font-size:20px;}

/* 카카오 주소 검색 창 */
#resultAdd{position:relative;z-index:0;width:300px;}
#searchBtn{position: absolute;z-index: 1;background-color: white;width: 40px;height: 40px;line-height: 40px;border: 1px solid #769FCD;top: 10px;right: 10px;background-color: #D6E6F2;color: #203E60;}

/* kakao map */
.map_wrap {position:relative;width:100%;height:600px;background-color:#f2f2f2;}
    #title {font-weight:bold;display:block;font-size:20px;margin-bottom:10px;}
      .title {font-weight:bold;display:block;}
   .bAddr{padding:5px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
    .hAddr {background: #fff;
    position:relative;
    z-index: 1;
    padding: 10px;
    text-align: right;
    border: 1px solid #D6E6E7;
    display: inline-block;
    margin-top: 60px;
    background-color: #F7FBFC;
    width:100%;
    }
    .hAddr >a{float:left;}
    .hAddr >a+a{margin-left:10px;}
    #centerAddr {display:block;margin-top:2px;font-weight: normal;margin-left:200px;margin-bottom:10px;}
    .bAddr {padding:10px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;margin:0px;text-align:center;margin-right:35px;margin-bottom:10px;}
   #map{ width:100%;height:100%;margin-top:0;}
   #map .add{padding:10px !important;font-size:13px;font-weight:300;}
   .ooh{
   width:300px;
   height:200px;
   margin-bottom:10px;
   }
   
   .upload-img img{
   width:300px;
   height:300px;
   }