@charset "utf-8";

*{box-sizing: border-box;}
.news_wrap{margin: 50px auto;}
.news_wrap .news_view_wrap{padding: 10px;}
.news_view_wrap .title {padding: 10px 10px; font-size: 1.5rem;}
.news_view_wrap .file {text-align: right; padding: 0 20px;}
.news_view_wrap .info{text-align: right; padding: 15px;}
/* .news_view_wrap .info dl:first-child{padding: 0;} */
.news_view_wrap .info dl:first-child::before {display: none;}
.news_view_wrap .info dl::before {content: ""; position: absolute; top: 1px; left: 0; display: block; width: 1px; height: 13px;}
.news_view_wrap .info dl{position: relative; display: inline-block; padding: 0 20px;}
.news_view_wrap .info dl dt,.news_view_wrap .info dl dd {display: inline-block; font-size: 1rem;}
.news_view_wrap .info dl dd {margin-left: 10px; color: #777;}
.news_view_wrap .cont{padding: 15px; border-bottom: 1ps solid; line-height: 160%; font-size: 1.4rem;}
.news_bt_wrap {text-align: center; margin: 20px 0 20px;}
.news_bt_wrap a {display: inline-block; min-width: 80px; margin-left: 3px; padding: 10px;}
 a{text-decoration: none;}
.newsboard_write {border-top: 2px solid #000;}
.newsboard_write .modiFile{float: left; width: 265px; height: 33px; line-height:33px;}
.newsboard_write .subcont {border-bottom: 1px solid #000;}
.newsboard_write .subcont textarea {display: block; width: 100%; height: 150px; margin:5px; padding: 15px; box-sizing: border-box; border: 0; resize: vertical;}
.subcont .subcontents_cnt{margin:5px;text-align:right;}
.newsboard_write .cont {border-bottom: 1px solid #000;}
.newsboard_write .cont textarea {display: block; width: 100%; height: 300px; padding: 15px; box-sizing: border-box; border: 0; resize: vertical;}
.newsboard_write .title,.newsboard_write .info {padding: 15px;}
.newsboard_write .title dl {font-size: 0;}
.newsboard_write .title dt,.newsboard_write .info dt {width: 100px;}
.newsboard_write .title dt,.newsboard_write .title dd,.newsboard_write .info dt,.newsboard_write .file dt{display: inline-block;vertical-align: middle;font-size: 1.4rem;}
.newsboard_write .title dd {width: calc(100% - 100px);}
.newsboard_write .title input[type="text"] {width: 80%;}
.newsboard_write .title input[type="text"] {padding: 10px; box-sizing: border-box;}
.newsboard_write .info {border-top: 1px dashed #ddd; border-bottom: 1px solid #000;}
.newsboard_write .info dl {display: inline-block; width: 50%; vertical-align: middle;}
.reply-container .nrp_writer {float: left; width: 10%; line-height: 35px;}
.reply-container .nrp_contents {float: left; width: 60%; line-height: 35px; height:auto;word-break:break-all;}
.nrp_contents .hiddenCon {width: 100%; height: 100%;}
.reply-container .nrp_reg_date {float: left; width: 15%; line-height: 35px;}
.news_contents .nrp-comments{margin-left:100px;}

.news_list .search {text-align:right;}

.inp_slct{display:inline-block;width:130px;vertical-align:top;}
.inp_slct+input{width:260px;vertical-align:top;}
.news_list .list_wrap .item{overflow:hidden;padding:40px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
.news_list .list_wrap .item+.item{border-top:none;}
.list_wrap .item .img_wrap{width:30%;float:left;height:180px;overflow: hidden;}
.list_wrap .item .img_wrap img{transition: all .3s ease;}
.list_wrap .item > a:hover {color:#254E7C;}
.list_wrap .item > a:hover .img_wrap img{transform:scale(1.03);}
.list_wrap .item .txt{width:70%;float:left;padding:23px 40px;}
.list_wrap .item .txt ul li{display:inline-block;color:#999;line-height:11px;font-weight:300;vertical-align: top;font-size:13px;padding-right:15px;margin-right:15px;border-right:1px solid #ddd;}
.list_wrap .item .txt ul li:last-child{padding-right:0;border-right:0;margin-right:0;}
.list_wrap .item .txt h2{font-size:20px;font-weight:600;margin:15px 0 20px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;transition: all .3s ease;}
.list_wrap .item .txt p{font-weight:300;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;word-wrap:break-word; line-height: 1.3;max-height: 3.9em;transition: all .3s ease;}