@charset "UTF-8";

/* list */
.search_area{padding: 40px;border: 5px solid #3D7EA6;border-radius: 3px;margin-bottom: 100px;}
.search_area .flex_box{display:flex;}
.search_area .flex_box dl{flex:1;margin:5px;}
.search_area .flex_box>input,
.search_area .flex_box>button{margin:5px;word-break:keep-all;}
.flex_box dl dt{margin-bottom:10px;}
.flex_box dl dt strong{display:block;font-size:20px;font-weight:600;margin-bottom:10px;}
.flex_box dl dt span{font-size:12px;font-weight:300;}
.flex_box .inp_slct{min-width:auto;}
.animal_list{font-size:0;}
.animal_list .item{display:inline-block;width: 30%;vertical-align:top;}
.animal_list .item .img_wrap{border-radius:3px;max-height:330px;overflow:hidden;transition:all .3s ease;}
.animal_list .item .img_wrap:hover{box-shadow: 0 10px 20px rgba(0, 0, 0, .3);}
.animal_list .item:nth-of-type(3n-1){margin:0 5% 20px;}
.animal_list .item .txt{font-size:13px;margin:20px 0 30px;font-weight:300;}
.animal_list .item .txt p{position:relative;font-weight:600;font-size:18px;color:#333;margin-bottom:8px;padding-left:15px;}
.animal_list .item .txt p:before{display:block;width:4px;height:18px;background-color:#FFA5A5;position:absolute;left:0;content:'';}
.animal_list .item .txt .info li{line-height:1.4;color:#999;}

.page_nav{text-align:center;}
.page_nav a {display: inline-block;width: 30px;height: 30px;border-radius:50%;font-size: 15px;color: #666;line-height: 30px;text-align: center;font-weight: 700;transition:all .3s ease;}
.page_nav a:hover{background-color:#FFF0F0;color:#333;text-decoration:underline;}

/* detail */
.animal_info{width:100%;overflow:hidden;position:relative;}
.animal_info>div{width:50%;float:left;}
.photo_box{padding-right:25px;}
.photo_box .swiper-container{width:100%;height:525px;}
.photo_box .swiper-container .slider_img{width:100%;}
.photo_box .swiper-pagination-bullet-active{background-color:rgba(255,255,255,.8);}
.photo_box .swiper-button-next,.swiper-button-prev{color:rgba(255,255,255,.8);}
.info_box{padding-left:25px;margin:60px 0;}
.info_box>h2{font-size:25px;font-weight:600;padding-bottom:20px;}
.info_box>h2 span{font-size:13px;font-weight:300;}
.info_box dl{font-size:0;padding:30px 0;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
.info_box dl dd,.info_box dl dt{line-height:25px;margin-bottom:10px;}
.info_box dl dt{display:inline-block;width:150px;font-size:16px;}
.info_box dl dd{display:inline-block;width:calc(100% - 150px);font-size:14px;}
.info_box dl dt:last-child{margin-bottom:0;}
.info_box dl dd:last-child{margin-bottom:0;}
.info_box .move_list{position:absolute;top:0;font-size: 12px;font-weight: 300;}
.info_box .move_list:hover{text-decoration:underline;}
.animal_info .btn_wrap{margin-top:30px;}
.animal_info .btn_wrap .btn_m{width:calc(50% - 25px);height:50px;font-size:16px;line-height:23px;}
.animal_info .btn_wrap .btn_m:hover{color:#fff;}
.animal_info .btn_wrap .btn_m+.btn_m{margin-left:10px;}
.animal_history{width:100%;margin-top:80px;padding:40px;background-color:#f2f2f28a;}
.animal_history .cont{background-color:#fff;position:relative;box-shadow:0 3px 10px rgba(0,0%,0%,5%);}
.animal_history .cont:before{width:4px;height:60px;background-color:#ffa5a5;position:absolute;left:0;top:0;content:'';}
.animal_history .cont>h2{height:60px;padding:0 30px;font-size:20px;line-height:60px;font-weight:600;}
.animal_history .cont>div{padding:50px;}
/* 입양신청 */
.adoptRegForm .banner {width: 100%;height: 400px;opacity:.8;}
.adoptRegForm .title{text-align: center;margin:40px auto 60px}
.adoptRegForm .title h2{position:relative;display:inline-block;font-size:36px;font-weight: 600;margin-bottom:15px;}
.adoptRegForm .title h2:after{display:block;width:100%;height:8px;background-color:#FFA5A5;position: relative;top: -6px;z-index: -1;opacity: .8;content:'';}
.adoptRegForm .title p{font-size:13px;font-weight:300;}
.adoptRegForm .title p em{font-weight:600;}
.adoptRegForm .notice{padding:40px;background-color:#fff0f0d0;}
.adoptRegForm .notice p{font-weight:600;font-size:14px;margin-bottom:10px;}
.adoptRegForm .notice ul{margin-left:20px;}
.adoptRegForm .notice ul li{font-size:14px;font-weight:300;line-height:1.4;list-style: disc;}
.adoptRegForm h3{font-weight:600;font-size: 20px;margin-bottom: 20px;border-bottom: 2px solid #769FCD;margin:40px 0 20px;padding-bottom:15px;}
.adoptRegForm dl dt{margin-bottom:10px;font-weight:600;}
.adoptRegForm dl dd{margin-bottom:30px;}
.adoptRegForm .terms .box{padding:20px;background-color:#F7FBFC;border:1px solid #D6E6F2}
.adoptRegForm .terms .box+p{margin:5px 0 10px;font-weight:300;font-size:13px;}
.adoptRegForm .terms ol{margin-left:20px;}
.adoptRegForm .terms ol li{font-size:14px;line-height:1.6;list-style: decimal;}
.adoptRegForm .btn_wrap{text-align: right;}
/* title common */
/* section>.title{text-align: center;margin:40px auto 60px}
section>.title>h2{position:relative;display:inline-block;font-size:36px;font-weight: 600;margin:0 auto 15px;}
section>.title>h2:after{display:block;width:100%;height:8px;background-color:#5C969E;position: relative;top: -6px;z-index: -1;opacity: .8;content:'';}
section>.title>p{font-size:13px;font-weight:300;}
section>.title>p em{font-weight:600;} */
/* review */
.review_list .list_wrap{font-size:0;}
.review_list .list_wrap .item{display:inline-block;width:calc(50% - 20px);margin-right:40px;margin-bottom:40px;overflow:hidden;background-color:#cfe9ec50;vertical-align:top;}
.review_list .list_wrap .item:nth-of-type(2n){margin-right:0;}
.review_list .btn_wrap{padding-top:30px;border-top:1px solid #ddd;}
.list_wrap .item .img_wrap{position:relative;width:50%;display:inline-block;height:180px;overflow: hidden;vertical-align: middle;}
.list_wrap .item .img_wrap img{transition: all .3s ease;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
.list_wrap .item > a{display:block;padding:30px;transition: all .4s ease;}
.list_wrap .item > a:hover {background-color:#cfe9ecb0;}
.list_wrap .item .txt{width:50%;display:inline-block;vertical-align:middle;padding-left:30px;}
.list_wrap .item .txt ul li{display:inline-block;color:#999;line-height:11px;font-weight:300;vertical-align: top;font-size:12px;padding-right:15px;margin-right:15px;border-right:1px solid #ddd;}
.list_wrap .item .txt ul li:last-child{padding-right:0;border-right:0;margin-right:0;}
.list_wrap .item .txt ul li.date{display:block;border-right:0;margin-bottom:5px;}
.list_wrap .item .txt h2{font-size:18px;font-weight:600;margin:15px 0 20px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;transition: all .3s ease;}
.list_wrap .item .txt p{font-size:13px;font-weight:300;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;word-wrap:break-word; line-height: 1.3;max-height: 3.9em;transition: all .3s ease;}
.review_list .search_box{text-align:right;margin-bottom:20px;}
.review_list .search_box *{vertical-align:top;}
.review_list .search_box .inp_slct{width:130px;min-width:auto;}
.review_list .search_box .inpform{width:300px;margin-left:5px;}
.review_detail .view .title{text-align:left;margin-bottom:30px;border-bottom:1px solid #ddd;padding-bottom:10px;}
.review_detail .view .title h3{font-size:30px;font-weight: 600;margin-bottom:15px;}
.review_detail .view .title p{font-weight: 400;margin-bottom:15px;}
.review_detail .view .title ul li{display:inline-block;color:#999;line-height:11px;font-weight:300;vertical-align: top;font-size:12px;padding-right:15px;margin-right:15px;border-right:1px solid #ddd;}
.review_detail .view .title ul li:last-child{border-right:0;}
.review_detail .utils_wrap{overflow:hidden;}
.review_detail .utils_wrap .utils{float:left;}
.review_detail .utils_wrap .v_like{float:right;font-size:20px;color:#FFA5A5;}
.review_detail .view .contents{min-height:180px;padding-bottom:30px;border-bottom:1px solid #ddd;margin-bottom:30px;}
.review_detail .btn_wrap {text-align:right;}
.review_detail .btn_wrap .btn_list{float:left;}
.review_write .view .title{text-align:left;margin-bottom:30px;}
.review_write .view .title ul li{display:inline-block;color:#999;line-height:11px;font-weight:300;vertical-align: top;font-size:12px;padding-right:15px;margin-right:15px;border-right:1px solid #ddd;}
.review_write .view .title ul li:last-child{border-right:0;}
.review_write .view .cont{border-bottom:1px solid #ddd;margin-bottom:30px;}
.review_write h3{font-weight:600;font-size: 20px;margin-bottom: 20px;border-bottom: 2px solid #5C969E;margin:40px 0 20px;padding-bottom:15px;}
.review_write dl dt{margin-bottom:10px;font-weight:600;}
.review_write dl dd{margin-bottom:30px;}
.review_write .btn_wrap .btn_line{float:left;}
.review_write .btn_wrap .btn_regi{float:right;}

.review_write.modify .btn_wrap{text-align:right;}
.review_write.modify .btn_wrap .btn_del{margin-right:5px;}
.review_write.modify .photo_thumb>.f_name{display:inline-block;line-height:40px;margin-right:5px;}
.review_write.modify .photo_thumb>.f_name+button{width:20px;height:20px;border-radius:50%;border:1px solid #ddd;}

