@charset "utf-8";

@import url('reset.css');

/* common style */
.clear:after{clear: both;display: block;content: '';}
.ellipsis1{height: auto;max-height:1.5em;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.ellipsis2{overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;word-wrap:break-word; line-height: 1.3;max-height: 2.6em;}
.ellipsis3{overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;word-wrap:break-word; line-height: 1.3;max-height: 3.9em;}
.ellipsis4{overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 4;-webkit-box-orient: vertical;word-wrap:break-word; line-height: 1.3;max-height: 5.2em;}
.va_t{vertical-align: top !important;}
.va_m{vertical-align: middle !important;}
.va_b{vertical-align: bottom !important;}
.ta_l{text-align: left !important;}
.ta_c{text-align: center !important;}
.ta_r{text-align: right !important;}
.br{display: block;}
.t_red{color: #ff0000 !important;}
em.t_red{font-weight: 700 !important;}
.t_default{color: inherit !important;}
.t_primary{color: #3e52d0 !important;}
.t_light{color: #888dac !important;}
.t_gray{color: #888 !important;}
.t_error{display: block;color: #D74F4F !important;font-size: 14px;line-height: 1.5;}
.fw_b{font-weight: 700 !important;}
.full{min-width:auto !important;width: 100% !important;max-width: 100% !important;}
.t_info{margin-top: 6px;}
.t_info p{font-size: 14px;color: #888dac;}
.ir {display: block; text-indent: -9999px; overflow: hidden;}
.trans {-webkit-transition: all ease 0.3s; -moz-transition: all ease 0.3s; transition: all ease 0.3s;}
.t_link{color: #254E7C !important;}
.t_link:hover{text-decoration: underline;}
.desc_txt{display:inline-block;margin-left:15px;font-size:14px;color:#888dac;line-height:21px;vertical-align: middle;}
.shadow-sm{box-shadow :0 .125rem .25rem rgba(0,0,0,.075)!important}
.rounded {border-radius: .25rem!important;}
/* 색상별 버튼 */
/* btn */
.btn_m{display: inline-block;position: relative;min-height: 40px; padding: 11px 30px;text-align: center;cursor:pointer;outline:none;vertical-align: middle;border-radius: 5px;transition: all 0.1s ease-out;}
button[disabled],.btn_file input[type="file"],.btn_file label[disabled]{ background-color: #d7dae2; color: #f9f9fc;cursor:default;}
.btn_l{min-width: 240px; min-height: 80px; padding: 11px 46px;border-radius: 5px;cursor:pointer;transition: all 0.1s ease-out;}
.btn_s{display: inline-block;min-width:70px;min-height: 32px;padding: 8px 13px;font-size: 13px;text-align: center;outline:none;vertical-align: middle;border-radius: 5px;cursor:pointer;transition: all 0.1s ease-out;}
.btn_fluid { min-width: auto !important; padding-left: 20px;padding-right: 20px;}
.btn_full { min-width: auto !important;width: 100% !important; }
.btn_wide{padding-left: 58px;padding-right: 58px;}
.btn_default{color:#F7FBFC !important;background-color: #254E7C;border: 1px solid #254E7C;}
.btn_primary{background-color:#5C969E;color: #fff !important;border: 1px solid #5C969E;}
.btn_white{background-color: #fff;color: #254E7C !important;border: 1px solid #254E7C;}
.btn_light{background-color: #D6E6F2;color: #203E60 !important;border: 1px solid #D6E6F2;}
.btn_line{background-color: #fff;border: 1px solid #356F77;color: #356F77 !important;}
.btn_default:hover{background-color: #4972A0;border-color:#4972A0;}
.btn_primary:hover{background-color: #356F77;border-color:#356F77;}
.btn_white:hover{background-color: #F7FBFC;}
.btn_light:hover{background-color: #C3DFF4;color:#203E60 !important;}
.btn_line:hover{background-color: #356F77;color:#fff !important;}
.btns{display: -webkit-flex;display: -ms-flex;display: flex;align-items: center}
.btns>li{display: inline-block;vertical-align: middle;}
.btns>li+li{margin-left: 4px;}

/* input */
.inpform {width: 100%;height: 40px; padding: 0 10px;box-sizing: border-box; border: 1px solid #769FCD; color: #333;border-radius: 5px;}
.inpform.error{border-color: #D74F4F;}
.inpform::-webkit-input-placeholder{color: #769FCD;}
.inpform::-moz-placeholder{color: #769FCD;}
.inpform:-moz-placeholder{color: #769FCD;}
.inpform:-ms-input-placeholder{color: #769FCD;}
.inpform:-o-placeholder{color: #769FCD;}
.inpform:focus,.inp_slct select:focus{border-color: #254E7C;}
input:disabled,textarea:disabled {background-color: #D6E6F2;border: 1px solid #D6E6F2;color: #769FCD;}
input:disabled{height: 40px;padding: 0 10px;}

.txtareaform{width: 100%;padding: 10px;border: 1px solid #769FCD;resize:none;border-radius: 5px;line-height: 1.5;}
.txtareaform:focus{border-color: #254E7C;}
.txtareaform::-webkit-input-placeholder,
.txtareaform::-moz-placeholder,
.txtareaform:-moz-placeholder,
.txtareaform:-ms-input-placeholder,
.txtareaform:-o-placeholder { color: #769FCD; }

.radio_box{margin-bottom: 10px;display: -webkit-flex;display: -ms-flex;display: flex;}
.inp_rd{float: none;display: inline-block;margin-left: 10px;vertical-align: middle;}
.inp_rd:first-child{margin-left: 0;}
.inp_rd input[type="radio"]{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0;}
.inp_rd input[type="radio"] + label{display:inline-block;position:relative;padding-left: 20px;text-indent:5px;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select: none;color: #1d1e25;vertical-align:top;}
.inp_rd input[type="radio"] + label:before{content:'';position:absolute;left:0;top:0;width:18px;height:18px;text-align:center;background: #fff;border:1px solid #254E7C;border-radius:100%;box-sizing:border-box;}
.inp_rd input[type="radio"]:checked + label:before{background:#fff;border-color: #5862a2;}
.inp_rd input[type="radio"]:checked + label:after{position: absolute;top: 4px;left: 4px;width: 10px;height: 10px;background-color: #254E7C;border-radius: 50%;content: '';}
.rd_group{display: -webkit-flex;display: -ms-flex;display: flex;}
.rd_group .inp_rd + .inp_rd{margin-left: 20px;}

.inp_chk{display:inline-block;height:18px;position:relative;padding-left:20px;cursor:pointer;line-height:18px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;vertical-align: top;text-indent:5px;}
.inp_chk input{position:absolute;opacity:0;cursor:pointer;}
.inp_chk input:checked ~ .chkmark{border-color: #254E7C;background-color: #254E7C;}
.inp_chk input:checked ~ .chkmark:after{content:'';position: absolute;left:4px;top:0;width:6px;height:9px;border:solid #fff;border-width:0 2px 2px 0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}
.inp_chk .chkmark{position:absolute;top:0;left:0;height:18px;width:18px;background-color:#fff;border: 1px solid #254E7C;border-radius:2px;-webkit-transition:all ease .1s;transition:all ease .1s;}
.chk_group{display: -webkit-flex;display: -ms-flex;display: flex;}
.chk_group .inp_chk + .inp_chk{margin-left: 20px;}
.chk_group .chk_info{display:inline-block;margin-left:5px;color:#888dac;line-height:1.2;vertical-align:top;}

.inp_slct{display: inline-block;position: relative;width: 100%;min-width: 200px;z-index:0;vertical-align: middle;}
.inp_slct:after{position: absolute;top: 17px;right: 15px;display: block;width: 12px;height: 6px;background: url('../images/icons/ic_arw_down.png');z-index:11;content: '';background-size:cover;}
.inp_slct:before{display: block;position: absolute;top: 1px;right: 1px;width: 40px;height: calc(100% - 2px);border-radius:0 3px 3px 0;background-color: #fff;z-index:5;content:'';} 
.inp_slct label{display: none;}
.inp_slct select{position: relative;width:100%; height:40px; padding:0 48px 0 15px; line-height:40px; font-size:14px;color:#1d1e25;text-align: left;-webkit-appearance:none;-moz-appearance:none;-webkit-appearance:none;z-index:5;background-color: #fff;border:1px solid #769FCD;transition:border-color 0.3s ease-out;border-radius:4px;}
.inp_slct select::-ms-expand {display:none;}
.inp_slct select option:checked{color: #1d1e25;}
/* .inp_slct + .inp_slct{margin-left: 17px;} */

body{background-color:#f4f7fa;}
.wrap{position:relative;}
nav{position:fixed;left:0;top:0;width:260px;height:100vh;z-index:999;}
.header .logo {width: 160px;height:50px;float:left;margin-top:15px;}
.header .logo a{display:block;width:100%;height:100%;text-align:center;line-height:50px;}
.lnb{background-color:#3f4d67;width:100%;height:100%;}
.lnb>h1{background-color:#333f54;width:100%;height:80px;text-align: center;padding-top: 20px;}
.lnb>h1 a{display:block;width:100%;height:100%;}
.lnb>h1 a img{width:180px;}
.slide_menu{max-height:calc(100vh - 120px);overflow:auto;}
.lnb a{color:#a9b7d0;display:block;transition:all .3s ease;}
.lnb a [class*=fa]{float:right;transform:rotate(90deg);transition:all .3s ease;}
.lnb a:hover{color:#e8edf7}
.lnb .depth1{position:relative;}
.lnb .depth1>a{height:100%;padding:20px 15px;}
.lnb .depth1>a+ul{display:none;}
.lnb .depth1.on >a{background-color:#333f54;} 
.lnb .depth1.on >a [class*=fa]{transform:rotate(270deg);}
.lnb .depth1.on >a:before{width:3px;height:100%;position:absolute;top:0;left:0;background-color:#1dc4e9;content:'';}
.lnb .depth1.on >a+ul{background-color:#39465e;}
.lnb .depth2{padding: 20px;}
.lnb .depth2+.depth2{padding-top:0;}
.lnb .depth2 a{font-size:14px;font-weight:300;}
.lnb .depth2:last-of-type{margin-bottom:0;}

.main{min-height:100vh;width:100%;padding: 30px 30px 163px 290px;}
.main .container{padding:0;margin:0;overflow:auto;}
.main .container>section{width:1100px;background-color:#fff;margin-bottom:60px;}
section .title_area{position:relative;border-bottom: 1px solid #f1f1f1;padding:20px 25px;}
section .title_area:before{display:block;width:3px;height:100%;position:absolute;top:0;left:0;background-color:#1dc4e9;content:'';}
section .title_area h2{font-size:16px;font-weight: 600;}
section .contents{padding: 30px 30px 60px 30px;}
.footer{position:absolute;bottom:0;left:0;width: 100%;border-top:1px solid #f2f2f2;padding-left: 260px;padding: 30px;z-index:-1;}
.footer p{font-size:12px;color:#666;}

.table thead th{border-bottom:none;}
.table th{font-weight: 600;}
.table th, .table td{padding:1.05rem 0.75rem;font-size:14px;}
.table tr:last-child td {border-bottom:1px solid #dee2e6}
.table tbody td{font-weight:300;}
.table tbody td.t_link {cursor:pointer;}
.table-hover tbody tr:hover{background-color:rgba(214, 230, 242, 0.3);}
.table tbody .nodata{height:200px;}
.table tbody .nodata td{line-height:200px;font-weight:400;color:#666;}
.table-hover tbody tr.nodata:hover{background-color:transparent;}

.page_nav{text-align:center;}
.page_nav a {display: inline-block;width: 30px;height: 30px;border-radius:50%;font-size: 15px;color: #666;line-height: 30px;text-align: center;font-weight: 700;transition:all .3s ease;}
.page_nav a:hover{background-color:#C3DFF4;color:#333;text-decoration:underline;}

/* 관리자 동물 정보 등록 폼 */
.reg_info .form_tbl{width: 100%;}
/* .reg_info .form_tbl tr{border-top:1px solid #D6E6F2;} */
/* .reg_info .form_tbl tr:last-child{border-bottom:1px solid #D6E6F2;} */
.reg_info .form_tbl dl{margin:30px 0;}
.reg_info .form_tbl dl dt{position:relative;display:inline-block;width:180px;font-size:16px;font-weight:400;color:#254E7C;margin-top:12px;vertical-align:top;}
.reg_info .form_tbl dl dt:before{display: block;content: '';width: 5px;height: 5px;float: left;margin-top: 6px;margin-right: 15px;background-color: #FFA5A5;}   
.reg_info .form_tbl dl dd{display:inline-block;width:calc(100% - 190px);vertical-align:top;}
.reg_info .form_tbl dl dd>span{line-height:40px;}
.reg_info .form_tbl dl dt .s_txt{position:absolute;display:block;margin-top:10px;font-size:11px;font-weight:300;color:#666;}
.reg_info .form_tbl .file_upload input{display: block;margin-bottom:20px;}
.reg_info .form_tbl .file_upload input:last-child{margin-bottom:0;}
.reg_info .form_tbl .btn_wrap{margin-top:20px;text-align: right;}
.reg_info .form_tbl .rd_group{height:40px;padding-top: 13px;}
.reg_info .inpform, .reg_info .inp_slct{width: 300px;}

.photo_thumb{height:40px;overflow:hidden;}
.photo_thumb>strong{line-height:40px;font-weight:600;float:left;margin-right:20px;}
.photo_thumb>.f_name{display:inline-block;line-height:40px;margin-right:5px;}
.photo_thumb>.f_name+button{width:20px;height:20px;border-radius:50%;border:1px solid #ddd;}
.photo_thumb>input{margin-top:10px;}
.photo_detail strong{line-height:40px;font-weight:600;float:left;margin-right:20px;}
.photo_detail .btn_plus{margin:10px 0;width:20px;height:20px;border-radius:50%;background-color:#769FCD;color:#fff;}
.photo_detail input[type=file]{margin-bottom:10px;display:inline-block;}
.photo_detail .delFile{width:20px;height:20px;border-radius:50%;border:1px solid #ddd;vertical-align:top;}
.photo_detail .oriFile span{display:inline-block;line-height:20px!important;margin-bottom:10px;vertical-align:top;margin-right:5px;}

/* 동물 정보 리스트 */
.animal_list .btn_wrap{text-align:right;}
.info_modify .btn_wrap .btn_line{float:left;}

/* 입양신청상태 */
.adoption_list .search_box{text-align:right;margin-bottom:20px;}
.adoption_list .search_box .inp_slct{width:200px;}
.adoption_list tbody tr th, .adoption_list tbody tr td{line-height:32px;}

#regInfoModal table tr th{font-weight:400;}
#regInfoModal table tr th, #regInfoModal table tr td{text-align:left;}
#regInfoModal .modal-body h2{font-size: 18px;border-bottom: 1px solid #1dc4e9;padding: 30px 0 20px 0;}
#regInfoModal .modal-body dl{border-bottom: 1px solid #dee2e6;}
#regInfoModal .modal-body dl dd{font-weight:600;}
#regInfoModal .modal-body .info_tbl dl dt, #regInfoModal .modal-body .info_tbl dl dd{display:inline-block;vertical-align: top;padding: 16px 12px;font-size: 14px;line-height:16px;}
#regInfoModal .modal-body .answer_tbl dl dt, #regInfoModal .modal-body .answer_tbl dl dd{padding: 1.05rem 0.75rem;font-size: 14px;}
#regInfoModal .modal-body .answer_tbl dl:last-child{border-bottom:none;}
#regInfoModal .modal-footer .inp_slct{width:250px;}