@charset "utf-8";

@import url('reset.css');

/* common style */
.clear:after{clear: both;display: block;content: '';}
.ellipsis1{height: auto;max-height:1.5em;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.ellipsis2{overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;word-wrap:break-word; line-height: 1.3;max-height: 2.6em;}
.ellipsis3{overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;word-wrap:break-word; line-height: 1.3;max-height: 3.9em;}
.ellipsis4{overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 4;-webkit-box-orient: vertical;word-wrap:break-word; line-height: 1.3;max-height: 5.2em;}
.va_t{vertical-align: top !important;}
.va_m{vertical-align: middle !important;}
.va_b{vertical-align: bottom !important;}
.ta_l{text-align: left !important;}
.ta_c{text-align: center !important;}
.ta_r{text-align: right !important;}
.br{display: block;}
.t_red{color: #ff0000 !important;}
em.t_red{font-weight: 700 !important;}
.t_default{color: inherit !important;}
.t_primary{color: #3e52d0 !important;}
.t_light{color: #888dac !important;}
.t_gray{color: #888 !important;}
.t_error{display: block;color: #D74F4F !important;font-size: 14px;line-height: 1.5;}
.fw_b{font-weight: 700 !important;}
.full{min-width:auto !important;width: 100% !important;max-width: 100% !important;}
.t_info{margin-top: 6px;}
.t_info p{font-size: 14px;color: #888dac;}
.ir {display: block; text-indent: -9999px; overflow: hidden;}
.trans {-webkit-transition: all ease 0.3s; -moz-transition: all ease 0.3s; transition: all ease 0.3s;}
.t_link{color: #254E7C !important;}
.t_link:hover{text-decoration: underline;}
.desc_txt{display:inline-block;margin-left:15px;font-size:14px;color:#888dac;line-height:21px;vertical-align: middle;}
.nodata{font-size:16px;padding:180px 0;border-top:1px solid #ddd;border-bottom:1px solid #ddd;text-align:center;color:#666;}

/* 색상별 버튼 */
/* btn */
a.btn_m:focus, a.btn_m:hover{text-decoration:none!important;}
.btn_m{display: inline-block;position: relative;min-height: 40px; padding: 11px 30px;text-align: center;cursor:pointer;outline:none;vertical-align: middle;border-radius: 5px;transition: all 0.1s ease-out;}
button[disabled],.btn_file input[type="file"],.btn_file label[disabled]{ background-color: #d7dae2; color: #f9f9fc;cursor:default;}
.btn_l{min-width: 240px; min-height: 80px; padding: 11px 46px;border-radius: 5px;cursor:pointer;transition: all 0.1s ease-out;}
.btn_s{display: inline-block;min-width:70px;min-height: 32px;padding: 8px 13px;font-size: 13px;text-align: center;outline:none;vertical-align: middle;border-radius: 5px;cursor:pointer;transition: all 0.1s ease-out;}
.btn_fluid { min-width: auto !important; padding-left: 20px;padding-right: 20px;}
.btn_full { min-width: auto !important;width: 100% !important; }
.btn_wide{padding-left: 58px;padding-right: 58px;}
.btn_default{color:#F7FBFC;background-color: #254E7C;border: 1px solid #254E7C;}
.btn_primary{background-color:#5C969E;color: #fff;border: 1px solid #5C969E;}
.btn_white{background-color: #fff;color: #254E7C;border: 1px solid #254E7C;}
.btn_light{background-color: #D6E6F2;color: #203E60;border: 1px solid #D6E6F2;}
.btn_line{background-color: #fff;border: 1px solid #356F77;color: #356F77;}
.btn_default:hover, .btn_default:focus{background-color: #4972A0;color:#F7FBFC;border-color:#4972A0;}
.btn_primary:hover, .btn_primary:focus{background-color: #356F77;color: #fff;border-color:#356F77;}
.btn_white:hover, .btn_white:focus{color: #254E7C;background-color: #F7FBFC;}
.btn_light:hover, .btn_light:focus{color: #203E60;background-color: #C3DFF4;color:#203E60;}
.btn_line:hover, .btn_line:focus{color: #356F77;background-color: #356F77;color:#fff;}
.btns{display: -webkit-flex;display: -ms-flex;display: flex;align-items: center}
.btns>li{display: inline-block;vertical-align: middle;}
.btns>li+li{margin-left: 4px;}

/* input */
.inpform {width: 100%;height: 40px; padding: 0 10px;box-sizing: border-box; border: 1px solid #769FCD; color: #333;border-radius: 5px;}
.inpform.error{border-color: #D74F4F;}
.inpform:focus,.inp_slct select:focus{border-color: #254E7C;}
input:disabled,textarea:disabled {background-color: #D6E6F2;border: 1px solid #D6E6F2;color: #769FCD;}
input:disabled{height: 40px;padding: 0 10px;}
.txtareaform{width: 100%;padding: 10px;border: 1px solid #769FCD;resize:none;border-radius: 5px;line-height: 1.5;}

.radio_box{margin-bottom: 10px;display: -webkit-flex;display: -ms-flex;display: flex;}
.inp_rd{float: none;display: inline-block;margin-left: 10px;vertical-align: middle;}
.inp_rd:first-child{margin-left: 0;}
.inp_rd input[type="radio"]{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0;}
.inp_rd input[type="radio"] + label{display:inline-block;position:relative;padding-left: 20px;font-size:14px;text-indent:5px;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select: none;color: #1d1e25;vertical-align:top;}
.inp_rd input[type="radio"] + label:before{content:'';position:absolute;left:0;top:0;width:18px;height:18px;text-align:center;background: #fff;border:1px solid #254E7C;border-radius:100%;box-sizing:border-box;}
.inp_rd input[type="radio"]:checked + label:before{background:#fff;border-color: #5862a2;}
.inp_rd input[type="radio"]:checked + label:after{position: absolute;top: 4px;left: 4px;width: 10px;height: 10px;background-color: #254E7C;border-radius: 50%;content: '';}
.rd_group{display: -webkit-flex;display: -ms-flex;display: flex;}
.rd_group .inp_rd + .inp_rd{margin-left: 20px;}

.inp_chk{display:inline-block;height:18px;position:relative;padding-left:20px;cursor:pointer;font-size:14px;line-height:18px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;vertical-align: top;text-indent:5px;}
.inp_chk input{position:absolute;opacity:0;cursor:pointer;}
.inp_chk input:checked ~ .chkmark{border-color: #254E7C;background-color: #254E7C;}
.inp_chk input:checked ~ .chkmark:after{content:'';position: absolute;left:4px;top:0;width:6px;height:9px;border:solid #fff;border-width:0 2px 2px 0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}
.inp_chk .chkmark{position:absolute;top:0;left:0;height:18px;width:18px;background-color:#fff;border: 1px solid #254E7C;border-radius:2px;-webkit-transition:all ease .1s;transition:all ease .1s;}
.chk_group{display: -webkit-flex;display: -ms-flex;display: flex;}
.chk_group .inp_chk + .inp_chk{margin-left: 20px;}
.chk_group .chk_info{display:inline-block;margin-left:5px;color:#888dac;line-height:1.2;vertical-align:top;}

.inp_slct{display: inline-block;position: relative;width: 100%;min-width: 200px;z-index:0;vertical-align: middle;background-color:#fff;}
.inp_slct:after{position: absolute;top: 17px;right: 15px;display: block;width: 12px;height: 6px;background: url('../images/icons/ic_arw_down.png');z-index:11;content: '';background-size:cover;}
.inp_slct:before{display: block;position: absolute;top: 1px;right: 1px;width: 40px;height: calc(100% - 2px);border-radius:0 3px 3px 0;background-color: #fff;z-index:5;content:'';} 
.inp_slct label{display: none;}
.inp_slct select{position: relative;width:100%; height:40px; padding:0 48px 0 15px; line-height:40px; font-size:14px;color:#1d1e25;text-align: left;-webkit-appearance:none;-moz-appearance:none;-webkit-appearance:none;z-index:5;background-color: #fff;border:1px solid #769FCD;transition:border-color 0.3s ease-out;border-radius:4px;}
.inp_slct select::-ms-expand {display:none;}
.inp_slct select option:checked{color: #1d1e25;}
.inp_slct + .inp_slct{margin-left: 17px;}


/* common layout */
/* title common */
section>.title{text-align: center;margin:40px auto 60px}
section>.title>h2{position:relative;display:inline-block;font-size:36px;font-weight: 600;margin:0 auto 15px;line-height:1;}
section>.title>h2:after{display:block;width:100%;height:8px;background-color:#5C969E;position: relative;top: -6px;z-index: -1;opacity: .8;content:'';}
section>.title>p{font-size:13px;font-weight:300;}
section>.title>p em{font-weight:600;}
/* sub page */
.header {background-color:#fff;border-bottom:1px solid #ccc;width: 100%;height: 80px;padding: 0 40px;position:fixed;top:0;left:0;z-index:999;}
.header .s_menu_bg{display:block;content:'';width:100%;height:0;background-color:#f6f6f6;position:fixed;top:80px;left:0;z-index:-1;transition: all ease .3s;}
.header .s_menu_bg.on{height:70px !important;}
.header .logo {width: 160px;height:50px;float:left;margin-top:15px;}
.header .logo a{display:block;width:100%;height:100%;text-align:center;line-height:50px;}
.header .gnb{position:absolute;left:50%;top:50%;height:100%;min-width:490px;transform:translate(-50%, -50%);}
.header .gnb > ul{height:70px;}
.header .gnb > ul > li{float:left;height:100%;margin-right:20px;position:relative;}
.header .gnb > ul > li:after{display:block;content:'';transition: all ease .3s;}
.header .gnb > ul > li:hover:after{width:100%;height:4px;margin-top:-4px;background-color:#254E7C;}
.header .gnb > ul > li:last-child{margin-right:0;}
.header .gnb > ul > li > a{display:inline-block;font-size:18px;padding:0 15px;line-height:80px;color:#333;text-decoration:none;}
.header .gnb .s_menu{position:fixed;height:70px;display:none;}
.header .gnb .s_menu.adopt{transform:translateX(-20%);}
.header .gnb .s_menu.support{transform:translateX(-40%);}
.header .gnb .s_menu.news{transform:translateX(-10%);}
.header .gnb .s_menu.help{transform:translateX(-15%);}
.header .gnb .s_menu li{position:relative;}
.header .gnb .s_menu li:after{display:block;content:'';width:1px;height: 15px;background-color:#ddd;position:absolute;top:50%;right:0;transform:translateY(-50%);}
.header .gnb .s_menu li:last-child{margin-right:0;}
.header .gnb .s_menu li:last-child:after{display:none;}
.header .gnb .s_menu li a{display:inline-block;height:100%;font-size:15px;line-height:70px;padding:0 10px;color:#333;text-decoration:none;}
.header .gnb .s_menu li a:hover{color:#254E7C;}
.header .utils{float:right;height:100%;}
.header .utils ul{height:100%;}
.header .utils ul li{float:left;margin:15px 0 0 0;}
.header .utils ul li:last-child{margin-right:0;}
.header .utils ul li > a{display:inline-block;padding: 15px;color:#333;text-decoration:none;}
.header .utils ul li > a:hover{color:#254E7C;}
.container{min-height:100vh;padding:150px 0 180px;}
.container .contents > section{width:1100px;margin:auto;}

.footer{width: 100%;height:180px;background-color:#f2f2f2;padding:60px 100px;}
.footer p{font-size:12px;color:#666;}

.page_nav{text-align:center;margin-top:30px;}
.page_nav a {display: inline-block;width: 30px;height: 30px;border-radius:50%;font-size: 15px;color: #666;line-height: 30px;text-align: center;font-weight: 700;transition:all .3s ease;}
.page_nav a:hover{background-color:#FFF0F0;color:#333;text-decoration:underline;}

/* 로그인 모달 */
#loginModal div[class*=modal] {border: none;}
#loginModal .modal-content {background-color: #00000000;}
#loginModal .login-title {background-color: #FFFFFF;}
#loginModal .modal-body {background-color: #FFFFFF; padding-top: 10px; padding-left: 45px; padding-right: 45px;}
#loginModal .modal-footer {background-color: #FFFFFF; padding-bottom: 25px; padding-left: 40px; padding-right: 40px;}
#loginModal #modal-logo {background-color: #FFFFFF !important; padding-bottom: 30px}
#loginModal #idPwHov:hover{text-decoration: underline;}
#loginModal #idPwHov{background-color: #FFFFFF; border:none; width: 100%; text-decoration: underline; padding-right: 140px;}
#loginModal #popup-img {position: relative; top: 78px; left: 70px;}
#loginModal #popup-logo {position: relative; top: 30px; left: 133px;}
