<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>관리자페이지</title>
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/all.min.css">
	<link rel="stylesheet" href="../css/admin.css">
</head>

<body>
	<div class="wrap">
		<nav>
			<div class="lnb">
				<h1><a href="#">LOGO</a></h1>
				<ul class="slide_menu">
					<li class="depth1">
						<a href="#">회원관리<i class="fas fa-chevron-right"></i></a>
						<ul>
							<li class="depth2"><a href="#">회원 명단 보기</a></li>
							<li class="depth2"><a href="#">회원관리</a></li>
						</ul>
					</li>
					<li class="depth1">
						<a href="#">게시판 관리<i class="fas fa-chevron-right"></i></a>
						<ul>
							<li class="depth2"><a href="#">회원작성 글</a></li>
							<li class="depth2"><a href="#">뉴스</a></li>
							<li class="depth2"><a href="#">공지사항</a></li>
						</ul>
					</li>
					<li class="depth1">
						<a href="#">입양<i class="fas fa-chevron-right"></i></a>
						<ul>
							<li class="depth2"><a href="#">입양 신청 리스트</a></li>
							<li class="depth2"><a href="#">입양 신청 상태 관리</a></li>
						</ul>
					</li>
					<li class="depth1">
						<a href="#">후원<i class="fas fa-chevron-right"></i></a>
						<ul>
							<li class="depth2"><a href="#">후원금 관리</a></li>
						</ul>
					</li>
					<li class="depth1">
						<a href="#">동물 정보<i class="fas fa-chevron-right"></i></a>
						<ul>
							<li class="depth2"><a href="#">동물 정보 관리</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>

		<div class="main">
			<div class="container">
				<section class="shadow-sm rounded">
					<div class="title_area">
						<h2>하이염 여기는 타이틀입니다</h2>
					</div>
					<div class="contents">
						<table class="table table-hover text-center">
							<thead>
								<tr>
									<th>순서</th>
									<th>신청코드</th>
									<th>동물이름</th>
									<th>신청자</th>
									<th>신청일자</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>4</td>
									<td>AD0001</td>
									<td>밤송이4</td>
									<td>sora0119</td>
									<td>2012-10-10</td>
								</tr>
								<tr>
									<td>3</td>
									<td>AD0003</td>
									<td>밤송이3</td>
									<td>sora0119</td>
									<td>2012-10-10</td>
								</tr>
								<tr>
									<td>2</td>
									<td>AD0002</td>
									<td>밤송이2</td>
									<td>sora0119</td>
									<td>2012-10-10</td>
								</tr>
								<tr>
									<td>1</td>
									<td>AD0001</td>
									<td>밤송이1</td>
									<td>sora0119</td>
									<td>2012-10-10</td>
								</tr>
								

							</tbody>
						</table>
					</div>
				</section>


				<section class="shadow-sm rounded">
					<div class="title_area">
						<h2>하이염 여기는 타이틀입니다</h2>
					</div>
					<div class="contents">
						<table class="table table-hover text-center">
							<thead>
								<tr>
									<th>순서</th>
									<th>신청코드</th>
									<th>동물이름</th>
									<th>신청자</th>
									<th>신청일자</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>4</td>
									<td>AD0001</td>
									<td>밤송이4</td>
									<td>sora0119</td>
									<td>2012-10-10</td>
								</tr>
								<tr>
									<td>3</td>
									<td>AD0003</td>
									<td>밤송이3</td>
									<td>sora0119</td>
									<td>2012-10-10</td>
								</tr>
								<tr>
									<td>2</td>
									<td>AD0002</td>
									<td>밤송이2</td>
									<td>sora0119</td>
									<td>2012-10-10</td>
								</tr>
								<tr>
									<td>1</td>
									<td>AD0001</td>
									<td>밤송이1</td>
									<td>sora0119</td>
									<td>2012-10-10</td>
								</tr>
								

							</tbody>
						</table>
					</div>
				</section>

			</div>
			<footer class="footer">
				<p>Copyright &copy; Kh semi project by group 2</p>
			</footer>
		</div>
	</div>
	<script src="../js/jquery-3.6.0.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/all.min.js"></script>
	<script src="../js/common.js"></script>
</body>

</html>